*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# Firebase Credentials
serviceAccountKey.json

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
